@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html{
  scroll-behavior: smooth;
  caret-color:rgba(0, 0, 0, 0);
}

h1{ font-family: 'PT Serif', serif;}
body{
  font-family: 'OTWelcomeRA'; 
  background-color: #e4fff7;
}
.top{ 
  position:fixed;
  right: 30px;
  bottom: 30px;
}
.top a{
  width: 80px;
  height: 80px;
  background: url(../image/free-up-arrow-icon-3097-thumb.png) no-repeat center / cover ;
  border-radius: 50%;
  transition: 0.7s;
}

.top a:hover{
  background: url(../image/free-up-arrow-icon-3098-thumb.png) no-repeat center / cover;
  transform: rotatey(360deg);
}

/* header--------------- */

header{
  width: 100%;
  background-color: #000;
  height: 150px;
}
nav {
  /* border: 1px solid red; */
  width: 1200px;
  height: inherit;
  margin: auto;
  color: #fff;
  position: relative;
}
.brand{ 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}
.gnb{
  /* border: 1px solid red; */
  width: 1200px;
  height: 30px;
  display: flex;
  justify-content:space-between;
  font-size: 30px;
  position: absolute;
  top: 110px;
}
a{
  display: block;
  transition: 0.3s;
  text-transform: capitalize;
}
.gnb li a:hover {

  transform: scale(2);
  color: tomato;
  border-radius: 10px;
}

/* main_visyal---------- */
.main_visual{
  width: 100%;
  height: 500px;
  /* border: 1px solid #000; */
  cursor: pointer;
}
.main_text1{
  background: url(../image/main/main-1.png) no-repeat center / cover fixed;
  width: inherit;
  height: inherit;
  text-align: center;
  opacity: 1;
  transition: 0.5s;/* 파이어폭스에서 실행안됨 */
}
.main_text1:hover{
  background: url(../image/main/main-2.png) no-repeat center / cover fixed;
}
.text1 {
  width: inherit;
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  transition: 0.5s;
  color: #666633;
}
.text1 span{
  color: #fff;
}
.text2{
  width: inherit;
  font-size: 50px;
  position: relative;
  top: 20%;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  opacity: 0;
  transition: 0.5s;
  color: #333dd3;
}
.text2 span{
  color: #fff;
}
.main_text1:hover .text1{opacity: 0;}
.main_text1:hover .text2{opacity: 1;}


/* about---------------- */
#about{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 70px;
}

.boxs{
  /* border: 1px solid #000; */
  border-radius: 50px;
  width: 1200px;
  height: 500px;
  margin: auto;
  display: flex;
  text-align: center;
  font-size: 30px;
  color: #fff;
  position: relative;
  overflow:hidden;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 0, 255, 0.473);
}
.box-text{
  display: flex;
  justify-content: center;  
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.7s;
  margin-top: 100px;
  text-shadow: 0 0 5px #000;
}
.box-text:hover a{color: red;}
.boxs a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 30%;
  position:absolute;
  top:70%;  
  opacity: 1;
  transition-delay: 0.3s;
}
.box1 a{background-color: lightblue;}
.box2 a{background-color: lightcoral;}
.box3 a{background-color: lightgreen;}
.box4 a{background-color: lightpink;}
.box5 a{background-color: lightseagreen;}

.box1{
  background:url(../image/lush-about/about-1.png)no-repeat center / cover ;
  flex: 1;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.box2{
  background:url(../image/lush-about/about-2.png)no-repeat center / cover;
  flex: 1;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.box3{
  background:url(../image/lush-about/about-3.png)no-repeat center / cover;
  flex: 1;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.box4{
  background:url(../image/lush-about/about-4.png)no-repeat center / cover;
  flex: 1;
  transition: 0.5s; 
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.box5{
  background:url(../image/lush-about/about-5.png)no-repeat center / cover;
  flex: 1;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.box1:hover{
  flex: 2;
  background-blend-mode: normal;
}
.box2:hover{
  flex: 2;
  background-blend-mode: normal;
}
.box3:hover{
  flex: 2;
  background-blend-mode: normal;
}
.box4:hover{
  flex: 2;
  background-blend-mode: normal;
}
.box5:hover{
  flex: 2;
  background-blend-mode: normal;
}
.box1:hover .box-text{opacity: 1;}
.box2:hover .box-text{opacity: 1;}
.box3:hover .box-text{opacity: 1;}
.box4:hover .box-text{opacity: 1;}
.box5:hover .box-text{opacity: 1;}
.box1:hover p{opacity: 0;}
.box2:hover p{opacity: 0;}
.box3:hover p{opacity: 0;}
.box4:hover p{opacity: 0;}
.box5:hover p{opacity: 0;}


.boxs p{
  position: relative;
  top: 50%;
  font-size: 30px;
  color: #000;
  text-shadow: 0 0 10px #fff;
  transition: 0.7s;
  transition-delay: 0.5s;
}





/* item----------------- */
#item{
  margin-top: 100px;
  font-size: 70px;
  text-align: center;
}

@keyframes bath{
  to{transform: translate(0,0);}
  50%{transform: translateY(-10px);}
  from{transform: translateY(0);}
}
@keyframes make-up{
   to{transform: translate(0,0);}
  50%{transform: translateY(-10px);}
  from{transform: translateY(0);}
}
@keyframes body{
  to{transform: translate(0,0);}
  50%{transform: translateY(-10px);}
  from{transform: translateY(0);}
}
@keyframes hair{
   to{transform: translate(0,0);}
  50%{transform: translateY(-10px);}
  from{transform: translateY(0);}
}
@keyframes face{
  to{transform: translate(0,0);}
  50%{transform: translateY(-10px);}
  from{transform: translateY(0);}
}
@keyframes perfume{
  to{transform: translate(0,0);}
  50%{transform: translateY(-10px);}
  from{transform: translateY(0);}
}

.container2{
/* border: 1px solid #000; */
display: flex;
justify-content: center;
width: 1200px;
height: 700px;
margin: auto ;
}
.items{
  margin-top: 20px;
}
.item{
  width: 300px;
  height: 300px;
  margin: 10px 50px;
  position: relative;
  float: left;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.items .item:nth-child(1){animation: bath 1.5s infinite linear ;}
.items .item:nth-child(2){animation: make-up 1.5s infinite linear;}
.items .item:nth-child(3){animation: body 1.5s infinite linear;}
.items .item:nth-child(4){animation: hair 1.5s infinite linear;}
.items .item:nth-child(5){animation: face 1.5s infinite linear;}
.items .item:nth-child(6){animation: perfume 1.5s infinite linear;}

.item img{
  width: 300px;
  height: 300px;
  border-radius: 50%;

}
.item li {
  position: relative;
  top:-170px;
  font-weight: bold;
  font-size: 50px;
  transition: 0.3s;
}
.mini1{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 110px;
  height: 100px;
  font-size: 18px;
  opacity: 0;
  transition: 0.3s;
}
.item p{padding: 3px 0;}
.item:hover .mini1{opacity: 1;}
.item:hover li{opacity: 0;}
.item:hover img{filter: blur(2px);}
.item:hover p{transform: scale(1.3);}
.mini1:hover p{opacity:0.3 ;}
.mini1 p:hover{
  opacity: 1;
  text-shadow: 0 0 2px #fff;
  color: darkblue;
}
.item-name1{
  color:dodgerblue;
  text-shadow: 0 0 3px #000;
}
.item-name2{
  color: rgb(24, 172, 121);
  text-shadow: 0 0 3px #000;
}
.item-name3{
  color: rgb(135, 141, 255);
  text-shadow: 0 0 3px #000;
}
.item-name4{
  color: rgb(244, 220, 161);
  text-shadow: 0 0 3px #000;
}
.item-name5{
  color: rgb(255, 166, 166);
  text-shadow: 0 0 3px #000;
}
.item-name6{
  color: rgb(255, 83, 244);
  text-shadow: 0 0 3px #000;
}
.items .item:nth-child(1):hover{animation: normal;}
.items .item:nth-child(2):hover{animation: normal;}
.items .item:nth-child(3):hover{animation: normal;}
.items .item:nth-child(4):hover{animation: normal;}
.items .item:nth-child(5):hover{animation: normal;}
.items .item:nth-child(6):hover{animation: normal;}




/* review--------------- */
#review{
  text-align: center;
  font-size: 70px;
  margin-top: 100px ;
  margin-bottom: 20px;
}
.container3{
  
  /* border: 1px solid #000; */
  width: 1200px;
  height: 500px;
  margin: auto;
}
.cards{
  height: 500px;
  display: flex;
  overflow: hidden;
}
  .card1{
    cursor: pointer;
    background: url(../image/review/man-gd3a788461_1920.jpg) no-repeat center / cover;
}
.card2{
  cursor: pointer;
  background: url(../image/review/woman-g5247a2db3_1920.png) no-repeat center / cover;
}
.card3{
  cursor: pointer;
  background: url(../image/review/night-photograph-gdac13a35a_1920.jpg) no-repeat center / cover;
}
.card4{
  cursor: pointer;
  background: url(../image/review/dog-g011d889aa_1920.jpg) no-repeat center / cover;
}
.cards p{
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}
.card1 p:hover{color: #666633;}
.card2 p:hover{color: #FF9933;}
.card3 p:hover{color: #CC66FF;}
.card4 p:hover{color: #33CCCC;}

.review span{
  display: block;
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 18px;
  transition: 0.5s;
}
.review span:hover{
  color: #fff;
}
.review{
  width: 300px;
  height: 500px;
  /* background-color: red; */
  margin-top:100px ;
  transform: translateY(320px);
  transition: 0.3s;
  position: relative;
}

.card1:hover .review:nth-of-type(1){
  transform: translate(0);
  background: linear-gradient(to top, #fff
  , transparent);
}
.card2:hover .review{
  transform: translate(0);
  background: linear-gradient(to top, orange
  , transparent);

}
.card3:hover .review{
  transform: translate(0);
  background: linear-gradient(to top, skyblue
  , transparent);
}
.card4:hover .review{
  transform: translate(0);
  background: linear-gradient(to top, lightgreen
  , transparent);
}
.cards a{
  position: absolute;
  width: 100px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #000;
  border-radius: 30px;
  text-align: center;
  line-height: 35px;
}
.cards a:hover{
  background-color: red;
}




/* store---------------- */
#store{
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.search{
  display: flex;
  width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}
.search input[type=search]{
  padding: 5px 20px;
  outline: none;
  border: none;
  box-shadow:0 0 3px dodgerblue ;
  text-align: center;
}
.search span::before{
  content:"\f002";
  font-family: fontawesome; 
  padding:0 10px;
  font-size: 30px;
  color: red;
}
.container4{
  display: flex;
  justify-content:center;
  align-items: center;
}




.tab-inner{
  /* border: 1px solid #000; */
  position: relative;
  width: 1200px;
  height: 500px;
  overflow: hidden;
  box-shadow: 0 0 10px dodgerblue;
}
input[name=tabmenu]{display: none;}
.ac{
  
  position: absolute;
  top: 0;
  left: -50px;
  opacity: 0;
  transition: 0.3s;
}
.btn {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}
.btn label{
  background-color: #ffffff93;
  width: 25px;
  height: 5px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}
input[id=tab1]:checked ~ .slide1,
input[id=tab2]:checked ~ .slide2,
input[id=tab3]:checked ~ .slide3,
input[id=tab4]:checked ~ .slide4,
input[id=tab5]:checked ~ .slide5{
  opacity: 1;
  left: 0;
}
input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3],
input[id=tab4]:checked ~ .btn label[for=tab4],
input[id=tab5]:checked ~ .btn label[for=tab5]{
  background-color:red;
  border-radius: 50px;
}
.name1, .name2, .name3, .name4, .name5{
  position: absolute;
  top:50%;
  left: 0;
  width: 100%;
  height: 100px;
  background-color:rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 15px;
  opacity:0;
  transform: translateY(-50px);
  transition: 0.5s;
  text-shadow: 1px 1px 3px black;
}
.name1{color: teal;}
.name2{color: tomato;}
.name3{color: red;}
.name4{color: dodgerblue;}
.name5{color: orange;}
.name1 span,
.name2 span,
.name3 span,
.name4 span,
.name5 span{
  font-size: 40px;
  display: block;
}
input[id=tab1]:checked ~ .store-name .name1,
input[id=tab2]:checked ~ .store-name .name2,
input[id=tab3]:checked ~ .store-name .name3,
input[id=tab4]:checked ~ .store-name .name4,
input[id=tab5]:checked ~ .store-name .name5{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}





/* footer--------------- */
.bottom{
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 300px;
  /* border: 1px solid #000; */
  background-color: #000;}
.logo{
  width:700px;
  height: 300px;
  background:url(../image/logo.png)
  no-repeat left;
  margin: auto;
}
.sns{ 
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  font-size: 40px;
  color: red;
  margin:10px 15px;
}
.sns a{padding: 10px;}
address{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  font-size: 20px;
  color:#888 ;
}